.reviews-container{
    margin-top: 50px;
    margin-bottom: 50px;
}

.reviews-container button{
    border: none;
    background-color: blue;
    color: white;
    padding: 8px 30px;
    border-radius: 5px;
    margin-left: 45%;
    margin-top: 20px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

.reviews-container h1{
    text-align: center;
}


.reviews-in-home{
    margin-top: 5px;
    margin-left: 80px;
    margin-right: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
