.home  {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    justify-content: center;
    margin-top: 30px;
    margin-left: 90px;
}

.phone-review{
    font-size: 25px;
}

.phone-review button{
    border: none;
    padding: 20px;
    background-color: rgb(200, 174, 247);
    border-radius: 10px;
    color: blueviolet;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
}

.phone-img img{
    width: 400px;
    height: 500px;
    margin-left: 20px;
}